@model LibraryData.Models.Category

@{
    ViewData["Title"] = "Details";
}

<!-- Breadcrumb Navigation-->
<ul class="breadcrumb bg-white">
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active">Category: @Model.CategoryName</li>
</ul>

<!-- Main Content -->
<div>
    @foreach (var book in Model.BookCategories)
    {
    <div class="d-flex flex-row border border-dark rounded bg-light shadow mt-1 mb-4">
        <div class="container-fluid p-0">
            <a class="clean-link" asp-controller="Book" asp-action="Details" asp-route-id="@book.Book.Id">
                <div class="d-flex flex-column pl-4" id="books-hover">
                    <div class="d-flex flex-row">
                        <div class="d-flex p-1 w-75">
                            <h3 class="font-weight-bold pt-2">
                                @book.Book.Title
                            </h3>
                        </div>
                        <div class="d-flex p-1 w-25"><h5 class="pt-2">[Placeholder Rating]</h5></div>
                    </div>
                    <div class="p-1 d-flex flex-row">
                        <div class="d-flex w-75">
                            <div class="d-flex">
                                <h5 class="font-italic pt-2 pb-2">
                                    By: @{
                                        foreach (var author in book.Book.BookAuthors)
                                        {

                                            <span>@author.Author.AuthorName; </span>

                                        }
                                    }
                                </h5>
                            </div>
                        </div>
                        <div class="d-flex flex-row w-25">
                            <div class="d-flex align-self-center">
                                <font class="pl-2" size="5">Available:</font>
                            </div>
                            <div class="align-self-center w-25 text-center">
                                @{
                                    if (book.Book.Status == false)
                                    {
                                        <img src="/img/available.png" height="28" />
                                    }
                                    if (book.Book.Status == true)
                                    {
                                        <img src="/img/unavailable.png" height="28" />
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="p-1 d-flex flex-row">
                        <div class="d-flex pr-3">
                            <div class="d-flex">ISBN: @book.Book.ISBN</div>
                        </div>
                        <div class="d-flex">
                            <div class="d-flex pl-2 pr-3">
                                Publisher: @book.Book.Publisher,
                                @book.Book.Year
                            </div>
                            <div class="d-flex pl-2">Language: @book.Book.Language</div>
                            <div class="d-flex">
                                <div class="d-flex">
                                </div>
                                <div class="d-flex">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </a>
        </div>
        <div class="d-flex">
            <div class="d-flex justify-content-end">
                @{
                    if (book.Book.Status == false)
                    {
                        <a type="button" class="btn swt-button-side p-0 align-items-center" asp-controller="Rental" asp-action="Create" asp-route-id="@book.Book.Id">
                            <div class="d-flex h-100 align-items-center justify-content-center">
                                <span class="d-flex rotate text-center align-self-center h3 m-0">Rent</span>
                            </div>
                        </a>
                    }
                    if (book.Book.Status == true)
                    {
                        <button type="button" class="btn swt-button-side p-0" disabled><div class="rotate h3 m-0">Rent</div></button>
                    }
                }
            </div>
        </div>
    </div>
    }
</div>