@model SWTlib.Models.ViewModels.BookAuthorViewModel

@{
    ViewData["Title"] = "BOOK COLLECTION";
}

<!-- Breadcrumb Navigation-->
<ul class="breadcrumb bg-white">
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active">Books</li>
</ul>

<!-- Main Content -->
<div id="books">
    <div id="bookTable">

        @foreach (var item in Model.BookList)
        {
            <div>
                <a class="clean-link" asp-controller="Book" asp-action="Details" asp-route-id="@item.Id">
                    <div class="d-flex flex-column border border-dark rounded mt-1 mb-3 pl-4 bg-light shadow" id="books-hover">
                        <div class="d-flex flex-row">
                            <div class="d-flex p-1 w-75">
                                <h3 class="font-weight-bold pt-2">
                                    @Html.DisplayFor(modelItem => item.Title)
                                </h3>
                            </div>
                            <div class="d-flex p-1 w-25"><h5 class="pt-2">[Placeholder Rating]</h5></div>
                        </div>
                        <div class="p-1 d-flex flex-row">
                            <div class="d-flex w-75">
                                <div class="d-flex">
                                    <h5 class="font-italic pt-2 pb-2">
                                        By: @{
                                            foreach (var author in item.BookAuthors)
                                            {

                                                <span>@author.Author.AuthorName; </span>

                                            }
                                        }
                                    </h5>
                                </div>
                            </div>
                            <div class="d-flex p-2 w-25">
                                Available: [Placeholder Status] <!--@Html.DisplayFor(modelItem => item.Status) -->
                            </div>
                        </div>
                        <div class="p-1 d-flex flex-row">
                            <div class="d-flex pr-3">
                                <div class="d-flex">ISBN: @Html.DisplayFor(modelItem => item.ISBN)</div>
                            </div>
                            <div class="d-flex">
                                <div class="d-flex pl-2 pr-3">
                                    Publisher: @Html.DisplayFor(modelItem => item.Publisher),
                                    @Html.DisplayFor(modelItem => item.Year)
                                </div>
                                <div class="d-flex pl-2">Language: @Html.DisplayFor(modelItem => item.Language)</div>
                                <div class="d-flex">
                                    <div class="d-flex">
                                    </div>
                                    <div class="d-flex">

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </a>
                <div class="d-flex justify-content-end mb-4">
                    <a type="button" class="btn btn-success mr-2" asp-controller="Rental" asp-action="Create" asp-route-id="@item.Id">Rent</a>
                </div>
            </div>
        }

    </div>
</div>